<li class="folder list">
    {{folder.nombre}}
    <span type="button" data-bs-toggle="dropdown">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" >Nuevo Archivo</a></li>
        <li><a class="dropdown-item" >Nuevo Paquete</a></li>
        <li><a class="dropdown-item" >Eliminar</a></li>
      </ul>
    </span>
    <ul class="lists">
        <li class="list" *ngFor="let archivo of folder.archivos" >
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" >Eliminar</a></li>
                <li><a class="dropdown-item" >Editar</a></li>
              </ul>
            {{archivo.nombre}}.{{archivo.extension}}
        </li>
        <app-folder *ngFor="let folder of folder.folders" [folder] = "folder"></app-folder>
    </ul>
</li>
