<div class="box">
  <ul class="directory-list">
    <li (click)="msjFolderVacio()" *ngIf="proyect.nombre === 'Sin Proyecto'"  class="folder list"  >
      Sin Proyecto
    </li>
    <li  *ngIf="proyect.nombre !== 'Sin Proyecto'"  class="folder list">
      {{proyect.nombre}}
      <span type="button" data-bs-toggle="dropdown">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="crearArchivo()" >Nuevo Archivo</a></li>
          <li><a class="dropdown-item" (click)="crearNuevoPaquete()" >Nuevo Paquete</a></li>
          <li><a class="dropdown-item" >Eliminar</a></li>
        </ul>
      </span>
      <ul class="lists">
        <li class="list" *ngFor="let archivo of proyect.archivos; let i = index"  >
          {{archivo.nombre}}.{{archivo.extension}}
          <span type="button" data-bs-toggle="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="editarArchivo(i)" > Editar</a></li>
              <li><a class="dropdown-item" >Eliminar</a></li>
            </ul>
          </span>
        </li>
        <app-folder *ngFor="let folder of proyect.folders" [folder] = "folder"></app-folder>
      </ul>
    </li>
  </ul>
</div>
