<div>
    <h1 class="text-center">Proyectos Guardados</h1>
    <table class="table table-dark">
        <thead class="table-success text-center">
          <tr>
            <th>#</th>
            <th>Nombre-Proyecto</th>
            <th>opcion</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let folder of proyects; let i = index">
            <td>{{i+1}}</td>
            <td>{{folder.nombre}}</td>
            <td>
                <button (click)="seleccionar(folder)" type="button" class="btn btn-link">Abrir</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="d-flex justify-content-center">
    <button (click)="refrescarProyects()" class="btn btn-light ms-auto">Refrescar</button>
  </div>