<app-navbar></app-navbar>
<section class="body d-flex ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 ">
                <app-directorio></app-directorio>
            </div>
            <div class="col-9">
                <div *ngIf="sesion.areaTrabajo === 0" class="text-area">
                    <app-text-area></app-text-area>
                </div>
                <div *ngIf="sesion.areaTrabajo === 1" class="text-area">
                    <app-table-errors></app-table-errors>
                </div>
                <div *ngIf="sesion.areaTrabajo === 3" class="text-area">
                    <app-console-clike></app-console-clike>
                </div>
                <div *ngIf="sesion.areaTrabajo === 2" class="text-area">
                    <app-console-assemble></app-console-assemble>
                </div>
            </div>
            <div class="col-1">
                <app-side-bar></app-side-bar>
            </div>
        </div>
    </div>
</section>

